<div class="row"> 
    <div class="col-md-12">         
        <h2>Pictures</h2>         
        <hr />    
    </div>  
 
    <div class="col-md-4">         
        <img src="/pictures/uploaded/1581101531863.jpg" class="img-responsive img-thumbnail" />     
    </div> 

    {{#each pictures}}
        <tr>
            <td>
                <div class="col-md-4">
                    <img src="/pictures/uploaded/{{this}}" class="img-responsive img-thumbnail" >
                </div>
            </td>
        </tr>
    {{else}}
        <tr>
            <div class="col-md-12 text-center">             
                <strong>No Pictures Available</strong> 
            </div> 
        </tr>
    {{/each}}
</div> 